:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.currency-converter-panel {
  flex-shrink: 0;
  margin-bottom: 20px;
}

.conversion-list-panel {
  height: 100%;
  overflow: hidden;
}